{% extends 'homepage/base.html' %}

{% block content %}
    <div class="clue">
        
        <a class="btn btn-default" href="{% url 'clue_edit' pk=clue.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>

        <h2>{{ clue.text }}</h2>
        <p>{{ clue.length|linebreaksbr }}</p>

        <div class="clue-solutions">
            <h3>Solutions:</h3>

            
        </div>
        <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Clue Type</th>
                <th scope="col">Solution</th>
                <th scope="col">Confidence</th>
              </tr>
            </thead>
            <tbody>
              
            {% for solution in solutions %}
                <tr>
                    <td>{{ solution.clue_type }}</td>
                    <td>{{ solution.solution }}</td>
                    <td>{{ solution.confidence }}</td>
                </tr>
            {% endfor %}
            
              
            </tbody>
          </table> 
    </div>
{% endblock %}