
h1 {
    font-family: 'Playfair Display', Serif;
    font-size: 48px; 
}

p {
    font-family: 'Source Sans Pro', Sans-Serif;
    font-size: 16px;  
    color: #C25100; 
}

body {
    padding-left: 20px;
}

.page-buttons {
    text-align: center;
    padding-bottom: 20px;
}

.page-header {
    padding-bottom: 10px;
}