#background

#fonts


#title

#headings
h1 {
    Font-Family: 'Playfair Display', Serif;
    Font-Size: 48px; 
}

#paragraphs 

p {
    Font-Family: 'Source Sans Pro', Sans-Serif;
    Font-Size: 16px;   
}